h2 {
  margin: 3.125rem, auto, 0, auto;
  padding: 1.875rem;
  padding-bottom: 0.625rem;
  font-size: 1.75rem;
  color: #50394c;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
body {
  text-align: center;
  margin: 0 0 0 0;
  background-color: #b2b2b2;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.596);
  padding: 0 6.25rem;
}
hr {
  width: 5%;
  border: 0.25rem dotted;
  border-style: none none dotted;
  color: #f4e1d2;
  margin: 0.625rem auto;
}
.Date{
    padding: 3.125rem;
    padding-bottom: 0.625rem;
    color: white;
    text-align: right;
}
